/** FONTS
----------------------------- **/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/** ANIMATIONS
----------------------------- **/
@keyframes blinker {
  50% {
    opacity: 0; } }

/** NATIVE
----------------------------- **/
body {
  background: #181818;
  color: #FFFFFF;
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/** HEADER
----------------------------- **/
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header div.brand {
    width: 300px;
    min-height: 300px;
    position: relative;
    border-radius: 20px;
    margin: 5%;
    background: #181818;
    display: flex; }
    header div.brand svg {
      width: 64px;
      height: 64px;
      fill: #FFFFFF; }
    header div.brand svg#strike {
      margin-top: 2rem;
      margin-left: 2rem; }
    header div.brand svg#score {
      margin: 0rem;
      margin-top: 5rem;
      animation: blinker 2s step-end infinite; }
  header div.brand::after {
    position: absolute;
    content: "";
    width: 110%;
    height: 110%;
    background: linear-gradient(142deg, #3cff98, #1aa1ff);
    top: -5%;
    left: -5%;
    z-index: -1;
    border-radius: 32px; }
  header h1 {
    font-size: 32pt; }
    header h1 label {
      animation: blinker 2s step-end infinite; }
  header h1, header h2 {
    margin: .5rem; }

/** CONTENT
----------------------------- **/
.center_page {
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

section {
  text-align: center; }
  section h2 > a {
    text-decoration: none;
    color: #FFFFFF; }
  section h2 > a label {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: .1rem;
    line-height: 3rem;
    cursor: pointer; }

/** SMARTPHONES
----------------------------- **/
@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header div.brand {
      width: 50vw;
      min-height: 50vw; } }

/** PRE-SMARTPHONE
----------------------------- **/
@media screen and (max-width: 400px) {
  body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  header div.brand {
    display: none; } }
