@import '../assets/animation';

.cover {
  height: 100%;
  width: 100%;
}

.background-main {
  background: url('../images/background.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px) brightness(40%);
  height: 100%;
  width: 100%;
}

.center-page {
  @include animation('enter-page 1s ease-in-out');
  @include transform(translate(-50%, -50%));
  left: 50%;
  padding: 0 50px;
  position: fixed;
  top: 50%;
  width: 100%;

  img {
    margin-bottom: -10vmin;
    width: 40vmin;
  }

  .text {
    display: inline-block;
    margin-left: -20px;
    text-align: left;
  }

  .title { font-size: 7vmin; }
  .undertitle { font-size: 5vmin; margin-top: -1em; }

  .cursor { @include animation('1s blink step-end infinite'); }
  .buttons { margin-top: .5em; }
}
