/* Index page */


.cover {
  height: 100%;
  width: 100%;
}

.center_page {
  animation: enter-page 1s ease-in-out;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Button */
}

.center_page img {
  width: 40vmin;
  margin-bottom: -10vmin;
}

.center_page .text {
  line-height: 1.75em;
  display: inline-block;
  text-align: left;
  margin-left: -20px;
}

.text .title { font-size: 7vmin; }
.text .undertitle { font-size: 5vmin; }

.center_page .cursor { animation: 1s blink step-end infinite; }
.center_page .buttons { margin-top: 0.5em; }
